main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 60vh;
    font-size: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

#botao {
    width: 15vw;
    height: 5vh;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #ff9100;
    border-style: unset;
    border-radius: 10px;
}

.padding {
    padding: 5px;
}

#caixa-mensagem {
    height: 10vh;
    width: 21vw;
}

#caixa-texto, #caixa-email, #caixa-telefone {
    height: 3vh;
    width: 21vw;
}

select {
    width: 21vw;
}