main {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.comodo {
    width: 10vw;
    height: 20vh;
    padding: 2px;
}

.linha-topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linha-baixo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 25vh;
    width: 12vw;
    border: 1.5px;
    border-style: solid;
    border-radius: 5px;
    transition: 0.5s;
}

.bloco-img:hover {
    transform: scale(1.1);
    color: rgb(255, 132, 0);
}

h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}